<style>
  
	.navbar {
    background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
  }
  .navbar:not(.top-nav-collapse) {
    background: transparent;
  }
  .navbar .navbar-brand img {
    height: 40px;
    margin: 10px;
  }
  .hm-gradient {
    background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
  }
  .heading {
    margin: 0 6rem;
    font-size: 3.8rem;
    font-weight: 700;
    color: #5d4267;
  }
  .subheading {
    margin: 2.5rem 6rem;
    color: #bcb2c0;
  }
  .btn.btn-margin {
    margin-left: 6rem;
    margin-top: 3rem;
  }
  .btn.btn-lily {
    background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
    color: #fff;
  }
  .title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #5d4267;
  }
  .subtitle {
    color: #bcb2c0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6rem;
  }

</style>

<!-- Main navigation -->
<header>


  <!-- Intro -->
  <section class="view">

    <div class="row">

      <div class="col-md-6">

        <div class="d-flex flex-column justify-content-center align-items-center h-100">
          <h3 class="heading">hi{{friend.name}}
              {{friend.emoji}}</h3> 
              {{friend.user_id}}{{friend.id}}
          <h4 class="subheading font-weight-bold">
              {{friend.favorite_memory}}</h4>
                  <p class="lead text-center text-muted pt-2 mb-5">{{friend.wishful_city}}</p>
          <div class="row justify-content-center mr-auto">
              button
              <a href=`/categories/{{friend.user_id}}/{{friend.id}}`>
            <button type="button" class="btn btn-lily btn-margin btn-rounded">Get started <i class="fas fa-caret-right ml-3"></i></button>
        </a>
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="view">
          <img src="https://images.pexels.com/photos/325045/pexels-photo-325045.jpeg" class="img-fluid" alt="smaple image">
          <div class="mask flex-center hm-gradient">
          </div>
        </div>

      </div>

    </div>

  </section>
  <!-- Intro -->

</header>
<!-- Main navigation -->