<h1>Welcome!</h1>


{{!-- beginning of container --}}
<div class="container my-5">

  <!-- Section: Block Content -->
  <section class="team-section">

    <div class="card">
      <div class="card-header white d-flex justify-content-between">
        <p class="h5-responsive font-weight-bold mb-0">the coolest people I know</p>
        <ul class="list-unstyled d-flex align-items-center mb-0">
          <li><span class="badge badge-danger">8 New Members</span></li>
          <li><i class="far fa-window-minimize fa-sm pl-3"></i></li>
          <li><i class="fas fa-times fa-sm pl-3"></i></li>
        </ul>
      </div>
      <div class="card-body">
        <div class="row pt-4">
          <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://www.dropbox.com/s/fm8vurruc9h5gtz/homie.png?raw=1" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Alan Turing</h6>
              <p class="text-muted mb-0"><small>Today</small></p>
            </div>
          </div>
{{!-- column start --}}
          <div class="col-lg-3 col-md-4 col-sm-6 pb-4">

{{!--  --}}
            {{!-- <div class="avatar white text-center">
              <img src="https://www.dropbox.com/s/w6e6epwzlcr7pe4/bestfriend.png?raw=1" class="img-fluid rounded-circle z-depth-1"/>
            </div>

            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Tom Johnson</h6>
              <p class="text-muted mb-0"><small>Yesterday</small></p>
            </div>

            {{!--  --}}
          </div> --}}

        {{#each friendList}}
              <div class="avatar white text-center">
              <img src="https://www.dropbox.com/s/w6e6epwzlcr7pe4/bestfriend.png?raw=1" class="img-fluid rounded-circle z-depth-1"/>
            </div>

            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">{{name}}</h6>
              <h5>{{emoji}} {{wishfulCity}} {{favoriteMemory}} </h5>
              <p class="text-muted mb-0"><small>Yesterday</small></p>
            </div>
            {{!--  --}}
          </div>
          {{/each}}
          {{!-- column end --}}
          <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://www.dropbox.com/s/iydzojfzl38grdg/colleague.png?raw=1" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Alex Laurie</h6>
              <p class="text-muted mb-0"><small>29 Nov</small></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://www.dropbox.com/s/v0pxvw5bp4ffdan/newFriend.png?raw=1" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Nathalie Fry</h6>
              <p class="text-muted mb-0"><small>29 Nov</small></p>
            </div>
          </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://www.dropbox.com/s/st884b1gigvc350/dear.png?raw=1" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Emma Lovelace</h6>
              <p class="text-muted mb-0"><small>28 Nov</small></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://www.dropbox.com/s/o8phvvtmad1cl3p/family.png?raw=1" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Joanna Thompson</h6>
              <p class="text-muted mb-0"><small>27 Nov</small></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://www.dropbox.com/s/9dela5ueptao89q/significantother.png?raw=1" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Billy Turner</h6>
              <p class="text-muted mb-0"><small>26 Nov</small></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Veronica Smith</h6>
              <p class="text-muted mb-0"><small>26 Nov</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer white text-center py-3">
        <a href="#!">View All Users</a>
      </div>
    </div>

  </section>
  <!-- Section: Block Content -->

</div>
{{!-- end of container --}}

<div class="container py-5 my-5">
  <section class="p-md-3 mx-md-5 text-center text-lg-left">
    <h2 class="text-center font-weight-bold mb-4 pb-1">the coolest people I know</h2>
    <p class="text-center lead mb-5 pb-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    <div class="row">

        {{#each friends}}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
          {
              {{nickname}}
          }
            <img
              src="https://www.dropbox.com/s/9dela5ueptao89q/significantother.png?raw=1"
              class="img-fluid"
            />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">{{name}}</p>
            <p class="text-muted">{{wishfulCity}}</p>

            <p class="text-muted">{{favoriteMemory}}</p>
          </div>
        </div>
      </div>
      {{/each}}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(22).jpg"
              class="img-fluid"
            />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">Sally Thompson</p>
            <p class="text-muted">Frontend Developer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg"
              class="img-fluid"
            />
          </div>
          <div class="card-body">
            <p class="font-weight-bold my-2">Anna Smith</p>
            <p class="text-muted">Backend Developer</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>