    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">the coolest people I know</h1>
            <p class="lead font-weight-normal">userid: {{user_id}}</p>
            <a href="/addfriend/{{user_id}}">
                <button type="button" class="btn btn-outline-dark waves-effect">Add Friend
                </button>
            </a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
    {{#each user_friend}}
    <div class="card">
        <div class="card-body">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">
                            {{this.name}} {{this.emoji}} </h2>
                        <p class="lead">
                            {{this.wishful_city}}
                            {{this.favorite_memory}}</p>
                    </div>
                    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                        <img src="https://www.dropbox.com/s/w6e6epwzlcr7pe4/bestfriend.png?raw=1" class="img-fluid z-depth-1" />
                    </div>
                </div>
                <div class="row justify-content-center">
                <a href="/categories/{{this.user_id}}/{{this.id}}">
                    <button type="button" class="btn btn-outline-dark waves-effect">Play
                    </button>
                </a>
                </div>
            </div>
        </div>
    {{/each}}