    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">the coolest people I know</h1>

            <a href="/addfriend/{{user_id}}">
                <button type="button" class="btn btn-outline-dark waves-effect">Add Friend
                </button>
            </a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
    <h1>
    {{#each user_friend}}
    <div class="card">
        <div class="card-body">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 py-3">
                        <h2 class="display-5">
                            {{this.name}} {{this.emoji}} </h2>
                        <p class="lead">
                            {{this.wishful_city}}
                            {{this.favorite_memory}}</p>
                    </div>
                    {{!-- Questions Answered --}}
            
                <div class="row justify-content-center">
                    Answered Questions: 
            {{this.answered_questions}} / 187
                </div>

                {{!-- Questions Answered --}}
                    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                        
                
                        <img src={{this.url}} class="img-fluid z-depth-1" />
                    </div>
                </div>
           


                {{!-- Button Row --}}
                <div class="row justify-content-center">
                 
                <a href="/categories/{{this.user_id}}/{{this.id}}">
                    <button type="button" class="btn btn-outline-dark waves-effect">Play
                    </button>
                </a>

                {{!-- Can't quite delete the friend - violates the foreign key constraint for user_friend_all_questions--}}
                  {{!-- <a href="/deletefriend/{{this.user_id}}/{{this.id}}">
                    {{!-- <button type="button" class="btn btn-outline-dark waves-effect">Delete Friend
                    </button>
                </a> --}} 
                </div>
                {{!-- End of Button Row --}}

                </div>
            </div>
        </div>
        
    {{/each}}