
User Id: {{user_id}}
Friend Id: {{friend_id}}
{{question.user_id}}
  {{#each question}}
 user id: 

  <!--Section: Content-->
  <section class="text-center">

      <style>
        @media (max-width: 767px) {
          .social-buttons .btn {
            padding: 8px 15px;
            margin: 1px;
          }
        }
      </style>

      <!-- Featured image -->
      <img src="https://www.cerclemagazine.com/wp-content/uploads/2017/10/316_N-Atlantic-Ocean-Cliffs-of-Moher-1989.jpg" class="img-fluid z-depth-1 rounded mb-4"
        alt="">

      <p class="mb-4">
         {{this.question_string}}
       user_id: {{this.user_id}}
      </p>

      <!-- Interactions -->
      <div class="social-buttons smooth-scroll">
       {{!-- Submit form --}}
  
        <form id="favoriteQuestionForm">
        <button type="submit" name="favorite" value={{this.id}} id="favorite" class="btn btn-outline-dark waves-effect">Favorite
                    </button>
        </form>
      </div>
      <!-- Interactions -->
      

    </section>
  <!--Section: Content-->


</div><br/><br/>
 {{/each}}
