
<div class="container">
  {{#each question}}
           <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      {{!-- <img class="card-img-top" src={{this.photo_url}}
        alt="Card image cap"> --}}
            <img class="card-img-top" src="https://www.cerclemagazine.com/wp-content/uploads/2017/10/316_N-Atlantic-Ocean-Cliffs-of-Moher-1989.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <!--Text-->
      <p class="card-text"> {{this.question_string}} </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      
      <form action="/play/{{categoryString}}/{{userId}}/{{friendId}}/add" method="POST">
      {{!-- #TODO: to add the form link -> make sure you pass in the user id, question id and friend id into the object for question </form> --}}
        <button type="button" value={{this.id}} class="btn btn-light-blue btn-md">Done</button>

      <button type="button" class="btn btn-light-blue btn-md">Favorite</button>
      </form>

    </div>

  </div>
  <!-- Card -->
  {{/each}}</div>