<nav class="navbar sticky-top navbar-light lighten-4">

    <a href="/home/{{user_id}}">
        <button type="button" class="navbar-brand white btn btn-outline-dark waves-effect font20">Play with another friend
        </button>
    </a>
</nav>

<div class="container z-depth-1 my-5 py-5 font17">
    <!-- Section -->
    <section>
        <style>
            .border-top {
                border-top-width: 2px !important;
            }
        </style>
        <h6 class="text-center small mb-4">
            <p class="text-muted pb-md-3">let's talk</p>
        </h6>
        <h3 class="font-weight-bold text-center dark-grey-text pb-2">{{friend_name}}</h3>
        <hr class="w-header my-4">
        <div class="row d-flex justify-content-center">

            {{!-- Beginning of Friendship --}}
            <div class="text-center col-md-6 col-lg-5 col-xl-4">
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">
                        Friendship</a>
                </h5>

                <i class="fas fa-3x fa-bolt light-blue-text"></i><br /><br />
                <a class="dark-grey-text" href="/play/friends/{{user_id}}/{{friend_id}}">
                    <button type="button" class="btn btn-outline-dark waves-effect font20">
                        converse
                    </button>
                </a>
            </div>
            {{!-- End of Friendship --}}

            <br />

            {{!-- Beginning of Work --}}
            <div class="text-center col-md-6 col-lg-5 col-xl-4">
                <h5 class="font-weight-normal border-top border-secondary pt-4 mb-4"><a class="dark-grey-text">Work</a></h5>
                <i class="fas fa-book fa-3x teal-text pr-2"></i><br />
                <br />
                <a class="dark-grey-text" href="/play/work/{{user_id}}/{{friend_id}}">
                    <button type="button" class="btn btn-outline-dark waves-effect font20">
                        converse
                    </button>
                </a>
            </div>
            {{!-- End of Work --}}

            <br /><br />

            {{!-- Beginning of Family --}}
            <div class="w-100"></div><br />
            <div class="text-center col-md-6 col-lg-5 col-xl-4">
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Family</a></h5>
                <i class="fas fa-3x fa-home deep-orange-text pr-2"></i><br /><br />
                <a class="dark-grey-text" href="/play/family/{{user_id}}/{{friend_id}}">
                    <button type="button" class="btn btn-outline-dark waves-effect font20">
                        converse
                    </button>
                </a>
            </div>
            {{!-- End of Family --}}

            <br />

            {{!-- Beginning of Love --}}
            <div class="text-center col-md-6 col-lg-5 col-xl-4">
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4">Love</h5>


                <i class="far fa-3x fa-heart deep-purple-text"></i>
                <br /><br />
                <a class="dark-grey-text" href="/play/love/{{user_id}}/{{friend_id}}">
                    <button type="button" class="btn btn-outline-dark waves-effect font20">
                        converse
                    </button>
                </a>
            </div>
            {{!-- End of Love --}}

            {{!-- Beginning of Favorite --}}
            <div class="text-center col-md-6 col-lg-5 col-xl-4">
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4">All my favorite questions</h5>
                <i class="fas fa-rocket fa-3x red-text pr-2"></i><br />
                <br />
                <a class="dark-grey-text" href="/favorites/{{user_id}}/{{friend_id}}">
                    <button type="button" class="btn btn-outline-dark waves-effect font20">
                        converse
                    </button>
                </a>
            </div>
            {{!-- End of Love --}}

        </div>
    </section>
    <!-- Section -->
</div>